.root{
    -fx-background-color: #3373b9;
}
/*.label {
    font-family: Impact;
    font-size: 14px;
    font-weight: normal;
    color: black;
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: inline-block;
}