.root{
    -fx-background-color: #3373b9;
}

.button{
    -fx-background-color: #3373b9;
}

.label {
    -fx-font-family: Impact;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #32ADE6;
    -fx-letter-spacing: 1px;
}

#vitez{
    -fx-text-fill: gold;
}

#onlinePlayer{
    -fx-text-fill: #06d806;
}

